backup de todos os fluxos/2Tool-Pega_Metricas_Google_Ads.json
{
  "name": "2 Tool - Pega_Metricas_Google_Ads",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        780,
        320
      ],
      "id": "037c89f1-a6f2-4562-9079-315feabf5865",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=<name>\nMétricas do Google Ads por Período\n</name>\n\n<description>\nGera relatórios de desempenho de anúncios no Google Ads com base em um período informado.\n</description>\n\n<role>\nSou um especialista em tráfego pago focado em métricas de campanhas do Google Ads.\n</role>\n\n<goal>\nGerar um relatório de desempenho com base no período solicitado pelo usuário e no período anterior equivalente.\n</goal>\n\n<instructions>\n- Você DEVE falar de forma clara e evitar jargões.\n- Sempre que um usuário solicitar um período (ex: \"hoje\", \"essa semana\"), gere o relatório do *período atual solicitado* E também do *período imediatamente anterior equivalente*.\n  Exemplo:\n  Usuário: \"quero saber como foi hoje\"  \n  Você: gera o relatório de hoje e de ontem, e apresenta ambos com as datas como \"Período Atual\" e \"Período Anterior\".\n\n- Só inicie a execução se os seguintes dados obrigatórios estiverem presentes:\n  1. `data para gerar o relatório`\n  2. `cliente` (para saber de qual conta obter os dados)\n\n- A estrutura do relatório deve seguir exatamente esta ordem:\n  1. Título: *Relatório de Desempenho Google Ads*\n  2. 👉Período Atual: [data formatada]\n  3. Métricas: Impressões, Cliques, CPC, CTR, Conversões, Custo total, etc.\n  4. Ações (se aplicável): Conversões por tipo, Chamadas, Instalações\n  5. 👉Período Anterior: [data formatada]\n  6. As mesmas métricas e ações, na mesma ordem\n\n- IMPORTANTE: Nunca omita métricas. Caso algum campo (como \"Conversões\", \"Cliques\", \"Impressões\", etc.) não esteja presente nos dados retornados, você DEVE preencher com o valor `0`.\n\n- Isso garante que a estrutura do relatório seja sempre idêntica para o período atual e o anterior, mesmo quando houver ausência de dados.\n\n- A data de hoje é: {{ $now }}\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        640,
        100
      ],
      "id": "b2c95583-7bb0-4d52-b85b-2e1367057f7e",
      "name": "Pega_Metricas_Google_Ads"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        320
      ],
      "id": "a534649b-2a28-4ca4-be50-ddeefc3134c8",
      "name": "GPT 4o mini",
      "credentials": {
        "openAiApi": {
          "id": "X3QmpbCSKSuOukCt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "use essa tool quando precisar puxar dados do google ads",
        "method": "POST",
        "url": "=[link do make aqui]",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data_inicial",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `use o formato de data yyyy-MM-dd data inicial`, 'string') }}"
            },
            {
              "name": "data_final",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `use o formato de data yyyy-MM-dd data final`, 'string') }}"
            },
            {
              "name": "Gads",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `id da conta de anúncios do google ads`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        960,
        320
      ],
      "id": "516fa91f-7dd3-4ebe-a1a3-0c8d74d03805",
      "name": "Metricas_periodo_googleads",
      "notesInFlow": false,
      "credentials": {
        "httpQueryAuth": {
          "id": "k8DpI5BoR0GZcvYz",
          "name": "Meta ads - teste"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        0
      ],
      "id": "edbbc245-13c5-444f-b66b-bf3ee500020c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        660,
        320
      ],
      "id": "7a19e320-611b-4b2d-b1dc-e1fc1a4379ca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        200
      ],
      "id": "2d668fc9-4bd8-4419-b380-1a34ccae806d",
      "name": "When chat message received",
      "webhookId": "8ee7dfe1-315c-4ff8-8d8e-29818ec492ed"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n#### trocar url do make (parte 2 explica)",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        300
      ],
      "typeVersion": 1,
      "id": "882d38f8-0296-43da-ba06-86bc5deb2df3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Pega_Metricas_Google_Ads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Pega_Metricas_Google_Ads",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Metricas_periodo_googleads": {
      "ai_tool": [
        [
          {
            "node": "Pega_Metricas_Google_Ads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pega_Metricas_Google_Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Pega_Metricas_Google_Ads",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pega_Metricas_Google_Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b508fe2-f870-4c16-a90c-b45906a36886",
  "meta": {
    "instanceId": "aaba811e825a90dc29a5beeda87d25d9978460dfc8614e83d9ad48c5b8d7a08b"
  },
  "id": "XAVES1iYvTnzAZwf",
  "tags": []
}