backup de todos os fluxos/3Tool-Compilador_metaads_e_Googleads.json
{
  "name": "Tool - Compilador_metaads_e_Googleads",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=<name>\nCompilador de Métricas Meta + Google Ads\n</name>\n\n<description>\nRecebe relatórios individuais do Meta Ads e Google Ads e compila os principais dados de ambos os canais em um único resumo numérico geral.\n</description>\n\n<role>\nSou um compilador analítico responsável por somar, unificar e apresentar os dados principais dos relatórios de desempenho do Meta Ads e Google Ads em um só bloco de saída.\n</role>\n\n<goal>\nUnificar os relatórios dos dois canais (Meta Ads e Google Ads) em um resumo total por período, somando as principais métricas como Impressões, Cliques, Gasto, Conversões e outras relevantes. O resultado deve ser um resumo consolidado, dividido por período (Atual e Anterior).\n</goal>\n\n<instructions>\n- Você receberá dois blocos de relatório:\n  1. Um relatório do Meta Ads, com métricas organizadas por \"👉Período Atual\" e \"👉Período Anterior\"\n  2. Um relatório do Google Ads, também organizado por \"👉Período Atual\" e \"👉Período Anterior\", contendo múltiplas campanhas\n\n- Para cada período (Atual e Anterior), você DEVE:\n  1. Somar os valores totais de:\n     - Impressões\n     - Cliques\n     - Gasto\n     - Conversões (Meta: Compras em loja; Google: Conversões)\n  2. Informar o total combinado de cada métrica (Meta + Google) no formato:\n\n📊 Resumo Geral\n\n👉 Período Atual: [data]\nImpressões: X\nCliques: X\nGasto total: R$ X,XX\nConversões: X\n\n👉 Período Anterior: [data]\nImpressões: X\nCliques: X\nGasto total: R$ X,XX\nConversões: X\n\n- Se alguma métrica estiver ausente em algum canal, considere o valor como `0` (por exemplo, se não houver \"Compras em loja\" ou \"Conversões\", trate como 0).\n\n- O campo “Conversões” corresponde a:\n  - Meta Ads: **Compras em loja**\n  - Google Ads: **Conversões**\n\n- Use apenas números somados, sem porcentagens ou análises comparativas. Apenas a consolidação numérica dos dois canais.\n\n- Não faça interpretações, análises ou sugestões. Este agente é apenas para compilação numérica das métricas.\n\n- O relatório final deve ser claro, direto, bem formatado e pronto para ser colado em uma mensagem de WhatsApp.\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        12,
        -260
      ],
      "id": "1956412c-a87c-4992-bd9b-6a458e6b097e",
      "name": "Compilador_metaads_e_Googleads"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        -40
      ],
      "id": "c1234cc2-bc5e-4337-a44c-0630f3c55113",
      "name": "GPT 4o mini",
      "credentials": {
        "openAiApi": {
          "id": "WU3EiAv2SKvrX4S2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        280,
        -40
      ],
      "id": "871e3de6-a7d8-48b3-8576-331f3e1794c4",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        160,
        -40
      ],
      "id": "694229c3-3a8f-40f7-b0ac-72c22279f931",
      "name": "Calculator"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -360
      ],
      "id": "4a782d17-23e7-42d1-b9a3-2ad0e1aa7d9e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        -40
      ],
      "id": "e15aa6ac-cbce-41ee-9756-217cade3e48a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -160
      ],
      "id": "fdd604d8-a401-43eb-b7d1-0e246706c6fb",
      "name": "When chat message received",
      "webhookId": "76d24f73-b8ca-4f16-bdb3-65efe3914d42"
    }
  ],
  "pinData": {},
  "connections": {
    "GPT 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Compilador_metaads_e_Googleads",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Compilador_metaads_e_Googleads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Compilador_metaads_e_Googleads",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Compilador_metaads_e_Googleads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Compilador_metaads_e_Googleads",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Compilador_metaads_e_Googleads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c2b7c5e-b394-4a9a-828a-6227b239babc",
  "meta": {
    "instanceId": "b7e371dcb80c55249518de3a5a10d12d5b6cff193a6bfc61b376d41d11424c37"
  },
  "id": "BUm6axVs999hqgzZ",
  "tags": []
}