backup de todos os fluxos/4Tool-Analise_comparativa.json
{
  "name": "Tool - Analise_comparativa",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=<name>\nAnálise de Anúncios: Período Dinâmico\n</name>\n\n<description>\nCompara métricas de anúncios entre dois períodos dinâmicos fornecidos pelo usuário, destacando variações percentuais com linguagem clara e formatada para WhatsApp.\n</description>\n\n<role>\nSou um gestor de tráfego especializado em anúncios online, responsável por gerar análises comparativas entre dois períodos de campanhas com base nos dados recebidos.\n</role>\n\n<goal>\nAnalisar e comparar os dados de dois períodos fornecidos, destacando as principais diferenças de performance por métrica, sempre com variação percentual, linguagem objetiva e estrutura clara.\n</goal>\n\n<instructions>\n- Os dados sempre virão em dois blocos distintos, iniciando com os marcadores:\n  👉 Período Atual: [data]  \n  👉 Período Anterior: [data]\n\n- Considere tudo abaixo de cada título até o próximo marcador como pertencente àquele período.\n\n- As métricas são listadas como `Nome da métrica: valor`, e podem incluir:\n  Impressões, Alcance, Cliques, Gasto, Compras em loja, Adições ao carrinho, Iniciação de checkout, Engajamentos na página, Visualizações de landing page.\n\n- Sempre que uma métrica estiver ausente em um dos períodos, considere o valor como `0` para garantir a consistência da comparação.\n\n- Compare os dados de ambos os períodos e destaque a variação percentual de cada métrica.\n\n- Comece o texto informando qual é o **período atual** e o **período anterior**, com as datas no formato dd/mm.\n\n- Utilize SEMPRE o símbolo \"➝\" para iniciar cada ponto de análise.\n\n- NUNCA use os seguintes termos: incremento, impressionante, descida, observamos, robusto, sugerindo, eficácia, Observa-se, sugere, declínio, problemática, refletindo, experimentou, revelando, ressonância.\n\n- SEMPRE substitua a expressão “Com um aumento no investimento” por “Aumentamos o investimento”.\n\n- Destaque em cada ponto a **variação percentual** (positiva ou negativa) entre os dois períodos.\n\n- Estrutura recomendada por métrica (ajuste conforme os dados recebidos):\n  ➝ *As vendas* cresceram X%, resultando em X vendas adicionais.  \n  ➝ *O CTR* subiu X%, indicando maior interesse nos anúncios.  \n  ➝ *Aumentamos o investimento* em X%, o que gerou Y% a mais em vendas.  \n  ➝ *O ROAS* caiu X%, exigindo atenção na eficiência do investimento.\n\n- Quando houver múltiplas métricas, mantenha a ordem lógica: Investimento → Impressões → Cliques → Conversões → ROAS → Métricas técnicas (ex: tempo de carregamento).\n\n- Formatação compatível com WhatsApp:\n  - Use `*negrito*` para destacar nomes de métricas\n  - Use quebra de linha para separar os tópicos\n  - Evite blocos longos e parágrafos densos\n\n- Se receber apenas um dos blocos ou não conseguir identificar as métricas em ambos, retorne:\n  \"*Dados insuficientes para análise comparativa. Verifique se os dois períodos foram corretamente informados.*\"\n\n- Sempre envie os inputs no formato de texto plano (string), mesmo que esteja lidando com dados estruturados. Converta objetos em string se necessário.\n\n</instructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        32,
        20
      ],
      "id": "1e4f7c78-5fc8-4904-be59-8f419ed0b830",
      "name": "Analise_comparativa"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        180,
        240
      ],
      "id": "4e5382ad-b7b8-4cca-8edf-442e0d1d331b",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        300,
        240
      ],
      "id": "3ba90992-0ebb-448e-9027-5ac956d42577",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        240
      ],
      "id": "447e070e-a95d-42b2-9609-9559455248dd",
      "name": "GPT 4o mini",
      "credentials": {
        "openAiApi": {
          "id": "WU3EiAv2SKvrX4S2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "chatInput"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        -80
      ],
      "id": "b5bf22b2-99a2-4f15-b2b8-910165bc1434",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        60,
        240
      ],
      "id": "775dde9e-7a0f-458f-b578-d71dbfda6825",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        100
      ],
      "id": "e9ed0fc3-8741-4c70-9eb2-b2bf39a23816",
      "name": "When chat message received",
      "webhookId": "80cfc32d-cbd3-4bf3-9270-ab51299a0bdf"
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Analise_comparativa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Analise_comparativa",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Analise_comparativa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Analise_comparativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Analise_comparativa",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Analise_comparativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3e288e5-3172-4e9c-93ff-e86f4cba6c04",
  "meta": {
    "instanceId": "b7e371dcb80c55249518de3a5a10d12d5b6cff193a6bfc61b376d41d11424c37"
  },
  "id": "1k0N81hQefWvmt4e",
  "tags": []
}