backup de todos os fluxos/AgendaAI.json
{
  "name": "AgendaAI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "=<Papel>\nvocê é meu assistente pessoal que cuida da minha agenda, seu papel é consultar disponibilidade, agendar call, reagendar, pode ser informal. em hipotese alguma você pode inventar informações como email, numero, cnpj, só use as informações que tiver acesso ou que forem fornecidas pelo usuário.\n<Papel>\n\n<ao criar uma call>\nnunca invente emails de convidados, se não for informado, ignore.\n<ao criar uma call>\n\n<ao reagendar/deletar uma call>\nSempre utilize a tool {Consulta Calls agendadas em uma data} para pegar o campo 'id' e uso esse id para atualizar ou deletar uma call\n\ncaso não consiga reagendar (atualizar uma call) e precise criar uma nova, avise o usuário que vai fazer isso antes de finalizar a ação.\n<ao reagendar/deletar uma call>\n\n<duração da call>\nsempre pergunte a duração da call ao usuário, geralmente é de 30 minutos, mas pergunte.\n<duração da call>\n\n<data atual>\nhoje é {{ $now }}\n<data atual>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ],
      "id": "069b8d8a-2919-4b48-91cf-c47cbf951c90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -140,
        420
      ],
      "id": "cd044cf2-5906-407f-9eea-38ab9e9ecbd6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "x91r2Duxw7yB2dmp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use a api do google calendar para consultar disponibilidade em minha agenda, sabendo que só será retornado \"booked slots\" ou seja, horários ocupados, se não retornar nenhum horário ocupado na data/hora da pesquisa, é por que está livre.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "isaacsantos@growthtap.com.br",
          "mode": "list",
          "cachedResultName": "isaacsantos@growthtap.com.br"
        },
        "timeMin": "={{ $fromAI(\"data_inicial\") }}",
        "timeMax": "={{ $fromAI(\"data_final\") }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        160,
        420
      ],
      "id": "593ea385-1334-4e59-96fa-8fed651127c7",
      "name": "consultar disponibilidade",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0g2IXoZErOmNtLx8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "isaacsantos@growthtap.com.br",
          "mode": "list",
          "cachedResultName": "isaacsantos@growthtap.com.br"
        },
        "start": "={{ $fromAI(\"data_inicial\") }}",
        "end": "={{ $fromAI(\"data_final\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"emails_participans\", \"email dos participantes separados por virgulas, sempre pergunte se precisa enviar para mais alguém antes de finalizar a criação da call\") }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $fromAI(\"descricao\", \"descricao da call, caso seja solicitado, adicione o campo 'numero:' phonenumberaqui para que um fluxo de automacao possa usar esse campo para follow-up\") }}",
          "summary": "={{ $fromAI(\"Title\",\"titulo da reunião\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        300,
        420
      ],
      "id": "33f99ab6-67de-4ca2-bdaf-35cd40143709",
      "name": "Criar Call",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0g2IXoZErOmNtLx8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "isaacsantos@growthtap.com.br",
          "mode": "list",
          "cachedResultName": "isaacsantos@growthtap.com.br"
        },
        "eventId": "={{ $fromAI(\"id_Call\") }}",
        "updateFields": {
          "description": "={{ $fromAI(\"descricao\", \"descricao da call, caso seja solicitado, adicione o campo numero: phonenumberaqui para que um fluxo de automacao possa usar esse campo para follow-up\") }}",
          "end": "={{ $fromAI(\"data_final\") }}",
          "start": "={{ $fromAI(\"data_inicial\") }}",
          "summary": "={{ $fromAI(\"Title\",\"titulo da reunião\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        440,
        420
      ],
      "id": "4959b671-257f-43ce-b217-dcdfe989988b",
      "name": "Atualiza Call",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0g2IXoZErOmNtLx8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "isaacsantos@growthtap.com.br",
          "mode": "list",
          "cachedResultName": "isaacsantos@growthtap.com.br"
        },
        "eventId": "={{ $fromAI(\"id_Call\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        600,
        420
      ],
      "id": "d458996d-df85-4073-8012-4ddc60168759",
      "name": "Detele Call",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0g2IXoZErOmNtLx8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "isaacsantos@growthtap.com.br",
          "mode": "list",
          "cachedResultName": "isaacsantos@growthtap.com.br"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI(\"data_inicial\") }}",
          "timeMax": "={{ $fromAI(\"data_final\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        740,
        420
      ],
      "id": "c802f0dc-51ef-4ba9-9bf2-b30e7d414bec",
      "name": "Consulta Calls agendadas em uma data",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0g2IXoZErOmNtLx8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "teste01",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        20,
        420
      ],
      "id": "acfb4c90-cb5f-41be-a2ec-d1c9d1ac6caa",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa tool quando quiser agendar uma call com um cliente, aqui você encontra os dados de todos os clientes, incluindo numero, cnpj...",
        "documentId": {
          "__rl": true,
          "value": "1ak7Cj-bPdFTmYqhzU9S6zrnPYDbHMFkuiFF7hzs1Lyc",
          "mode": "list",
          "cachedResultName": "Cópia de [Template] Planilha Mestre 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ak7Cj-bPdFTmYqhzU9S6zrnPYDbHMFkuiFF7hzs1Lyc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1294876509,
          "mode": "list",
          "cachedResultName": "JUNHO/24",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ak7Cj-bPdFTmYqhzU9S6zrnPYDbHMFkuiFF7hzs1Lyc/edit#gid=1294876509"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        900,
        420
      ],
      "id": "22b79939-9f69-4f0a-9f37-478c1170dac7",
      "name": "Todos_os_clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gCxCmNiKSbwwhT9d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Webhook'].json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{ $node['Webhook'].json.body.data.message.audioMessage ? Math.min(Math.trunc($node['Webhook'].json.body.data.message.audioMessage.seconds * 1000), 15000) : Math.min(Math.trunc($json.output.length / 10 * 1000), 15000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8134476-553b-4b44-864e-158e8c9b2bc4",
      "name": "Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        180
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "78a2da4b-c13e-45ed-816a-cee18d65f151",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1380,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "892b86a2-7e6b-4b1e-97ad-3a2f07b7a497",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1380,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "939acbed-02e9-424e-86f7-1761089d247e",
              "name": "=output",
              "value": "={{ $json.message.content.mensagem }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2f03e419-c6cc-4db1-8d14-699575bb6dc1",
      "name": "Transforma Output em Array",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0cdb1c63-c4a4-4941-9de9-b15a86719ab2",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0dc601e7-468f-4fc8-ab7c-335c92e0ff3f",
      "name": "Remove Vazios",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1220,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "38e6cbe3-09bf-4431-b3b9-a706613f39c7",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "32358ed5-0db8-4dc5-bfdd-2e44c7343a5d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "webhookId": "d9b4f27b-a050-4157-80ed-e7cdc0357f4a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QsMA36CZf6OStYr1",
          "name": "Evo growthtapoficial"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.output }}"
            },
            {
              "content": "retorne uma resposta estruturada em json onde os textos precisam estar em uma array 'mensagem'"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        0
      ],
      "id": "8d4227a7-49db-43e8-afe3-585aa7526cf0",
      "name": "Resposta estruturada",
      "credentials": {
        "openAiApi": {
          "id": "x91r2Duxw7yB2dmp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.key.remoteJid }}",
                    "rightValue": "ID DO NUMERO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        0
      ],
      "id": "c0527a1a-6190-4509-8bcf-547043fe2213",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar disponibilidade": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Call": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Call": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Detele Call": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Calls agendadas em uma data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Todos_os_clientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resposta": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Vazios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforma Output em Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Vazios": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Resposta estruturada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta estruturada": {
      "main": [
        [
          {
            "node": "Transforma Output em Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9dba5d8-855e-4ef1-bb43-181afaeb7147",
  "meta": {
    "instanceId": "5bcc2b51086efa7f7996db4b9b3eb9a3e38566109bf17c1ec685f2a5c0be07da"
  },
  "id": "IOs844s3aidk7sN2",
  "tags": []
}