backup de todos os fluxos/Vendedor_IA___Follow_UP.json
{
  "name": "Vendedor IA - Follow UP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "325a5b1f-a06f-4aaa-91b3-2b2940f3fc81",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Follow_up-VendedorIA",
        "returnAll": true
      },
      "id": "4f5c0e8a-3a87-40da-a1a8-aef7303960e3",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eCpOdrK4mtnklHxy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "remotejid",
        "options": {}
      },
      "id": "82c666f6-8dd0-4d9c-987a-663b608fb51c",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $node['Loop Over Items2'].json.remotejid }}_FollowUp"
      },
      "id": "e773c08a-845e-4a2e-871e-d30920d4d765",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2160,
        360
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $node['Remove Duplicates'].json.session_id }}_FollowUp"
      },
      "id": "2ff4c336-2a6a-4dfd-bf27-f2753c4057ae",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2240,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node['Loop Over Items2'].json.remotejid }}_FollowUp",
        "value": "1"
      },
      "id": "1e9eff52-254c-4930-814f-fd69697c0490",
      "name": "Redis3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3040,
        380
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9ab0b4b3-13f4-4a2e-9059-6ab0bd363ea2",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2820,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a7dd6ce8-62a3-4c5f-b4ab-1fbd41760ca4",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1820,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.growthlinks.com.br/message/sendText/aula",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Loop Over Items2'].json.remotejid }}"
            },
            {
              "name": "text",
              "value": "=Opa, ainda está aí?"
            },
            {
              "name": "delay",
              "value": "={{ 1200 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdd2b460-a0bc-448c-9685-fedd9945ce7e",
      "name": "Follow-up  1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nV5EJaiKqyHuBbtR",
          "name": "evo aula"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Follow_up-VendedorIA",
        "returnAll": true
      },
      "id": "23ea8831-8291-44cc-a07c-b0fdd0848359",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1380,
        1200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eCpOdrK4mtnklHxy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "=remotejid",
        "options": {}
      },
      "id": "09940049-b94f-4687-9817-71bbb8443c4e",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1600,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $node['Loop Over Items'].json.remotejid }}_FollowUp"
      },
      "id": "8044fb2c-490c-4c83-aa4f-cfdb97148182",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2160,
        1160
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $node['Remove Duplicates1'].json.session_id }}_FollowUp"
      },
      "id": "20d07add-0174-475e-945b-fba0c8a59f0f",
      "name": "Redis6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2360,
        740
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "6ad80038-ca77-4082-a381-821bd1eb4f28",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2820,
        980
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8222a6dd-09ad-426c-bba8-93bb0829e2fd",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1820,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node['Loop Over Items'].json.remotejid }}_FollowUp",
        "value": "3"
      },
      "id": "25c68c1a-0c41-4e5e-8b2b-464622754172",
      "name": "Redis8",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3040,
        1280
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Follow_up-VendedorIA",
        "returnAll": true
      },
      "id": "ce553ff3-64aa-4743-9ff4-6ac1f74a6383",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1420,
        1920
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eCpOdrK4mtnklHxy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "remotejid",
        "options": {}
      },
      "id": "5fafd4f4-916b-454b-864e-088aa4cf88f6",
      "name": "Remove Duplicates2",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1640,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $node['Loop Over Items1'].json.remotejid }}_FollowUp"
      },
      "id": "1ee714c3-5bec-477b-ab0e-3b107ee0f346",
      "name": "Redis7",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2200,
        1880
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $node['Remove Duplicates2'].json.session_id }}_FollowUp"
      },
      "id": "4ff851f1-e405-43f9-9a13-9101d56281a9",
      "name": "Redis9",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2280,
        1500
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "1c925987-f094-476e-9258-7f430f383d87",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        1700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "49378518-c1b5-4b74-a800-e2b603fa2a76",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1860,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node['Loop Over Items1'].json.remotejid }}_FollowUp",
        "value": "4"
      },
      "id": "ae8414f2-ca0b-4721-8cb1-b9d4b6b2f9c3",
      "name": "Redis10",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3020,
        2000
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "328d2d07-0bb7-4bc0-9e71-2828fe4027f8",
                    "leftValue": "={{ $json.values()[0] }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "50bfd233-d29d-4d6a-af4f-9eacf26f86c4",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2360,
        1160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "04a183e3-e2c8-4fcb-8121-b7cb5badd621",
      "name": "1h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1160,
        1200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "d2e53fa4-b534-413f-b46c-5d775d7e02eb",
      "name": "4h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1160,
        1920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.growthlinks.com.br/message/sendText/aula",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Loop Over Items'].json.remotejid }}"
            },
            {
              "name": "text",
              "value": "=Aguardando sua resposta ainda..."
            },
            {
              "name": "delay",
              "value": "={{ 1200 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "03efd1fd-c89a-441b-adeb-24871fe93f6f",
      "name": "Follow-up  2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        1280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nV5EJaiKqyHuBbtR",
          "name": "evo aula"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.growthlinks.com.br/message/sendText/aula",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Loop Over Items1'].json.remotejid }}"
            },
            {
              "name": "text",
              "value": "=Aguardando sua resposta ainda..."
            },
            {
              "name": "delay",
              "value": "={{ 1200 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9a1104e-cd92-416e-98c6-e18dc5dea9e0",
      "name": "Follow-up 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        2000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nV5EJaiKqyHuBbtR",
          "name": "evo aula"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43d2b42c-1f7f-4143-9c25-569064b7a4a7",
                    "leftValue": "={{ $json.values()[0] }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "8c48e7bb-3945-494b-8872-438f66641416",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2360,
        360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "328d2d07-0bb7-4bc0-9e71-2828fe4027f8",
                    "leftValue": "={{ $json.values()[0] }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "9711f0eb-7d0b-4109-9463-9fbe21980af7",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2400,
        1880
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Follow_up-VendedorIA",
        "returnAll": true
      },
      "id": "79671fa9-80fd-40f8-bb8e-e651ec735052",
      "name": "Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1420,
        2460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eCpOdrK4mtnklHxy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "remotejid",
        "options": {}
      },
      "id": "07f44029-1c18-48ca-ba9c-336b145d9335",
      "name": "Remove Duplicates3",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1640,
        2460
      ]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $node['Loop Over Items3'].json.remotejid }}_FollowUp"
      },
      "id": "61a59869-e777-4ca1-94ea-d04c1f2e11df",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2200,
        2420
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cadeca45-098b-4e5e-88be-a82f45abaf5c",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        2240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "99042e70-ee1f-4279-ac60-12d2db2d792a",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1860,
        2460
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node['Loop Over Items3'].json.remotejid }}_FollowUp",
        "value": "0"
      },
      "id": "b8efb645-d0e3-4b34-a02f-a4edb45358ef",
      "name": "Redis11",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3020,
        2540
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "cd20b379-283a-4656-8614-accc0df6a81f",
      "name": "4h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1160,
        2460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.growthlinks.com.br/message/sendText/aula",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Loop Over Items3'].json.remotejid }}"
            },
            {
              "name": "text",
              "value": "=tudo bem, não vou mandar mais mensagens, qualquer coisa me responder aí."
            },
            {
              "name": "delay",
              "value": "={{ 1200 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0584a1d5-02e0-4514-a3a3-78be0c9f284a",
      "name": "Follow-up ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        2540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nV5EJaiKqyHuBbtR",
          "name": "evo aula"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "328d2d07-0bb7-4bc0-9e71-2828fe4027f8",
                    "leftValue": "={{ $json.values()[0] }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4"
            }
          ]
        },
        "options": {}
      },
      "id": "78356dca-09bd-47a8-bcb6-823543a1edc9",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2400,
        2420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up  1": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis8": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Remove Duplicates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis10": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow-up  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1h": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4h": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up  2": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up 3": {
      "main": [
        [
          {
            "node": "Redis10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow-up  1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow-up 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "Remove Duplicates3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis11": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4h1": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up ": {
      "main": [
        [
          {
            "node": "Redis11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow-up ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51cc129a-d497-476e-b007-e8d6c71547fa",
  "meta": {
    "instanceId": "2791c0ebaf13b76d144ebfadb5119fb2fc539bb762e80588859f6624b33c4a0b"
  },
  "id": "sMvIqWpDIJT2gRlp",
  "tags": []
}