backup de todos os fluxos/Vendedor_IA___Fluxo.json
{
  "name": "Vendedor IA - Fluxo",
  "nodes": [
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "id": "3b6ef92e-388d-46b4-bac1-fe851e0b37d7",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1340,
        780
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $json.messages }}"
            }
          ]
        }
      },
      "id": "be41c174-870c-4c41-afd9-7d0a8fc88b71",
      "name": "Chat Memory Manager1",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1080,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6177d8a-6cd2-46ee-92f1-01ddfa4fa6d2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2060,
        1200
      ],
      "credentials": {
        "openAiApi": {
          "id": "bhoy0qx4VgeTB2Nu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Webhook'].json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{ $node['Webhook'].json.body.data.message.audioMessage ? Math.min(Math.trunc($node['Webhook'].json.body.data.message.audioMessage.seconds * 1000), 15000) : Math.min(Math.trunc($json.output.length / 10 * 1000), 15000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41ff4525-991e-4283-8d55-cc67bc3bccf8",
      "name": "Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        1060
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "d62a7cc5-57e5-4e6e-aa0b-9c0b0f604e57",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3580,
        820
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "31a6f847-71f1-478b-91d9-b7f331a1f1e8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3620,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "939acbed-02e9-424e-86f7-1761089d247e",
              "name": "=output",
              "value": "={{ $node[\"Mentoria\"].json.output ||  $node[\"IA Agent\"].json.output}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "e554e259-6e0f-4f88-b9da-5ef9a4e882b4",
      "name": "Transforma Output em Array",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3400,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "475b297c-4626-4fd3-b6d1-b41eb531d118",
              "name": "histórico",
              "value": "={{ $json.messages }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a9177db1-4f8f-4c68-9a9a-3ffb34712b94",
      "name": "Historico de Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0cdb1c63-c4a4-4941-9de9-b15a86719ab2",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ae4adda-72e9-454c-8a08-4b478aced183",
      "name": "Remove Vazios",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3420,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4902cd37-00ea-4b00-99c8-37919940c1b7",
              "name": "message.remotejid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "bf4a8c96-7ba0-4e3c-a78f-37abf97d3314",
              "name": "message.data",
              "value": "={{ new Date($json.body.date_time).plus('3' 'hours').toDateTime(s).toISO()}}",
              "type": "string"
            },
            {
              "id": "a541c4c8-e656-4507-afb1-b2303ef11fe6",
              "name": "message.type",
              "value": "={{ $json.body.data.message.conversation ? 'text' : $json.body.data.message.audioMessage ? 'audio' :  $json.body.data.message.imageMessage ? 'image' : $json.body.data.message.documentWithCaptionMessage.message.documentMessage ? 'document' : ''}}",
              "type": "string"
            },
            {
              "id": "ed2aab43-be30-4f18-8a71-f9d15e97b946",
              "name": "message.content_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "9cd67f17-9498-43ac-b896-8a2752ff38de",
              "name": "message.fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "0839df3c-b540-4556-b547-50659cea8a89",
              "name": "message.device",
              "value": "={{ $json.body.data.source }}",
              "type": "string"
            },
            {
              "id": "75bd060b-112a-4f11-921b-6aff991a77c9",
              "name": "message.content",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.speechToText}}",
              "type": "string"
            },
            {
              "id": "a48d6fbe-b721-4ae3-9beb-c0e5dc386863",
              "name": "message.quote",
              "value": "={{ $json.body.data.contextInfo.quotedMessage.conversation }}",
              "type": "string"
            },
            {
              "id": "a6a4f220-ed34-413a-9820-64a8aad8ae48",
              "name": "message.quote_id",
              "value": "={{ $json.body.data.contextInfo.stanzaId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "55306845-1102-4d2b-bd44-6715a87abdcd",
      "name": "Mensagens Ajustadas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        780
      ]
    },
    {
      "parameters": {},
      "id": "7b9f0fd5-6e04-4919-ab68-e0d818127096",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        1080
      ],
      "webhookId": "2bd0b5c5-524d-4639-94ed-62d9cf77c4d1"
    },
    {
      "parameters": {},
      "id": "5f850834-6cd3-4bf5-9580-ac4931a7bd5a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        460
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.body.data.key.remoteJid }}_block",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 900
      },
      "id": "0cc68276-542c-45a8-855b-bd831df3aae5",
      "name": "Bloqueia Bot por 15 minutos",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -220,
        600
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.body.data.key.remoteJid }}_block",
        "options": {}
      },
      "id": "71da8412-d9af-4cb7-8f2c-c36d1085505e",
      "name": "Consulta ID do bloqueio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -220,
        940
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "456f6182-40ba-4331-a54a-444d408e60c1",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -40,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "200ca73b-5caf-4c0b-827e-5a33eb78bfc0",
              "name": "messages",
              "value": "={{ JSON.stringify($json.messages.map(value => JSON.parse(value).content).join('\\n')) }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "88baf602-0a60-4ce8-a546-46fac47a8740",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        780
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Mensagens Ajustadas').item.json.message.remotejid }}_buffer"
      },
      "id": "3c1af713-fe1a-4d25-a00c-a37405942a5c",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        740,
        780
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Mensagens Ajustadas').item.json.message.remotejid }}_buffer",
        "options": {}
      },
      "id": "285a92a7-f4be-49f5-b47f-33f7556f84cb",
      "name": "Get Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        340,
        780
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $node['Mensagens Ajustadas'].json.message.remotejid }}_buffer",
        "messageData": "={{ JSON.stringify($node['Mensagens Ajustadas'].json.message) }}",
        "tail": true
      },
      "id": "80605434-fa40-4a17-a81d-3d96d1ce5f69",
      "name": "Insert Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        180,
        780
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "072cac12-0764-4943-a4c4-1af5f742f057",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -60,
        1160
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d37613c-e389-438a-b7d6-8a7c8a8f0246",
                    "leftValue": "={{ $node['Consulta ID do bloqueio'].json.block }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "bloqueado"
        }
      },
      "id": "133b9c9a-88a5-43a2-8fec-59b27faf7761",
      "name": "Bloqueio Existe?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -40,
        940
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.fromMe }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enviado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a03a129-9962-4695-9e78-a7e140eb3f32",
                    "leftValue": "={{ $json.message.fromMe }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recebido"
            }
          ]
        },
        "options": {}
      },
      "id": "b59657b8-648e-40b2-9dd8-d4f06dbad322",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7cacbaa-8d8d-4de5-8851-b5fa5d9c89bf",
              "leftValue": "={{ $node['Mensagens Ajustadas'].json.message.type }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a1238da-49e5-4dfb-8e09-c212de5a2258",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Webhook'].json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "=Não consigo ler arquivos. 🥲"
            },
            {
              "name": "delay",
              "value": "={{1200}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfff77ba-223b-451c-be57-46ba04c716ae",
      "name": "No document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Mensagens Ajustadas').item.json.message.remotejid }}_buffer"
      },
      "id": "dc03914a-ab0c-45f9-b4e2-1ceaf08c9efc",
      "name": "Delete Buffer1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "id": "ff08574f-a30f-4947-a144-1d67794d5d56",
      "name": "Chat Memory Manager2",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        360,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node['Webhook'].json.body.data.key.remoteJid }}_FollowUp",
        "value": "1"
      },
      "id": "e5f5d210-0834-44c1-8064-a51104ecbb23",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4320,
        900
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $node['Mensagens Ajustadas'].json.message.remotejid }}_FollowUp",
        "value": "0"
      },
      "id": "18a8794d-2538-4155-ad05-d2cf12a3878c",
      "name": "Zera FollowUP",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -900,
        780
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "separator": "\\n"
        }
      },
      "id": "d51b7774-42ea-4a6b-a97f-4914f27d611c",
      "name": "Item List Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        2640,
        840
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "50241bfb-3b2a-4553-ba39-4213e9f3a25d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3840,
        900
      ]
    },
    {
      "parameters": {
        "content": "## Exclui o Rediz de Buffer e Histórico de chat memory\n\n",
        "height": 351.00454887490673,
        "width": 772.8021626510553,
        "color": 3
      },
      "id": "b75c6a59-392b-4195-9b86-8263cd5c74ee",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Agente de FollowUp\nAqui podemos adicionar um agente para determinar para qual sequência de followup esse usuário vai\n",
        "height": 239.99854549009552
      },
      "id": "ccfbd181-cf87-4ed1-8cff-6f0ba5b17f65",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4160,
        600
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "=Sistema Solicitou ajuda de um humano para responder de forma mais precisa a pergunta: {{ $('Mensagens Ajustadas').item.json.message.content }}."
            }
          ]
        }
      },
      "id": "d8ae8c96-c01e-43dd-b00a-533a9efefd50",
      "name": "Chat Memory Manager3",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        3680,
        340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a414a63d-540a-46a9-b27c-abf8075ae6ec",
                    "leftValue": "={{ $json.body.data.key.fromMe }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eu mesmo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.key.fromMe }}",
                    "rightValue": "559883088359",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=outros"
            }
          ]
        },
        "options": {}
      },
      "id": "8e16dbd3-383f-4fe9-a462-9e9dc04a314e",
      "name": "verifica remoteJid",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1820,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5598983443157"
            },
            {
              "name": "text",
              "value": "=Estou com *dificuldade des responder* essa pergunta\n\nPergunta: {{ $('Mensagens Ajustadas').item.json.message.content }}\nRemoteJid: {{ $node['Mensagens Ajustadas'].json.message.remotejid }}\nID mensagem inicial: {{ $node['Mensagens Ajustadas'].json.message.content_id }}"
            },
            {
              "name": "delay",
              "value": "={{1200}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f7722e3-2d24-4573-8b5b-51e890c01ad7",
      "name": "Solicita Ajuda ADM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        340
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "=O ADM já respondeu a solicitação do sistema sobre pergunta do usuário, responsta do ADM: \"{{ $node['Mensagens Ajustadas'].json.message.content }}\". e o usuário já foi respondido."
            }
          ]
        }
      },
      "id": "0df1d912-0ef6-4591-b2ae-9fd64f4c9f94",
      "name": "Insere Resposta ADM no Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -320,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9b6cde0-d788-4146-bb93-9d5db7221077",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "559883088359@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7a0dfc81-9f8f-44f9-9fda-8166d5712e8a",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "559883443157s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f803cea-93ca-401d-b01a-6257f2a3121d",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1660,
        900
      ]
    },
    {
      "parameters": {
        "inputText": "=message: {{ $('Mensagens Ajustadas').item.json.message.content }}\nResposta Mencionada: {{ $('Mensagens Ajustadas').item.json.message.quote }}",
        "categories": {
          "categories": [
            {
              "category": "Ajuda ADM",
              "description": "Quando é uma resposta de um administrador sobre uma ajuda solicitada anteriormente por uma IA"
            },
            {
              "category": "normal",
              "description": "Não parece uma ajuda de um administrador."
            }
          ]
        },
        "options": {
          "multiClass": false,
          "systemPromptTemplate": "=# Papel\nSeu papel é revisar e verificar se a Mensagem gerada por outra IA foi precisa ou acabou inventando/supondo respostas que não possuia.\n\nVocê é uma IA projetada para fornecer respostas precisas e confiáveis. Se você não souber a resposta para uma pergunta ou se a pergunta estiver fora do seu escopo de conhecimento, simplesmente responda com: 'Ajuda Humana'. Nunca invente uma resposta ou faça suposições.\n\n# Regra\nSua resposta só pode ser 'Ajuda ADM' ou 'Normal'\n\n# Modelo de uma mensagem de Ajuda ADM\n\n\"Estou com *dificuldade des responder* essa pergunta\n\nPergunta: message:  pergunta inicial que levou a solicitação de ajuda\nRemoteJid: Identificador do numero do usuário que fez a pergunta inicial\"\n\nVerifique se esse padrão se encontra abaixo: {{ $('Mensagens Ajustadas').item.json.message.quote }}"
        }
      },
      "id": "dc401955-8a40-4c87-88a9-2fd3e1e9af57",
      "name": "Juiz Resposta Mencionada",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1460,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.message.quote.match(/RemoteJid:\\s(\\S+)/)[1] }}"
            },
            {
              "name": "text",
              "value": "=Opa, Já recebi uma resposta sobre isso"
            },
            {
              "name": "delay",
              "value": "={{1200}}"
            },
            {
              "name": "quoted.key.id",
              "value": "={{ $json.message.quote.match(/ID mensagem inicial:\\s(\\S+)/) ? $json.message.quote.match(/ID mensagem inicial:\\s(\\S+)/)[1] : 'null' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "09c8359c-344b-4c0a-b3f7-165f18e1f085",
      "name": "Responde Usuário (AJuda ADM) 01",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1020,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Mensagens Ajustadas'].json.message.quote.match(/RemoteJid:\\s(\\S+)/)[1] }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "delay",
              "value": "={{1200}}"
            },
            {
              "name": "quoted.key.id",
              "value": "={{ $node['Mensagens Ajustadas'].json.message.quote.match(/ID mensagem inicial:\\s(\\S+)/) ? $node['Mensagens Ajustadas'].json.message.quote.match(/ID mensagem inicial:\\s(\\S+)/)[1] : 'null' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a79a72ae-a551-48ac-9f40-a60e79b89f9d",
      "name": "Responde Usuário (AJuda ADM) 02",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.server_url }}/message/sendText/{{ $node['Webhook'].json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node['Webhook'].json.body.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node['Mensagens Ajustadas'].json.message.remotejid }}"
            },
            {
              "name": "text",
              "value": "=Ops, essa pergunta eu não sei te responder agora...\n\nMas perguntei para a gerência aqui, assim que me responderem, falo com você sobre isso."
            },
            {
              "name": "delay",
              "value": "={{1200}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a11edbfe-4316-433a-a01d-ff53441af7bc",
      "name": "Avisa que Solicitou Ajuda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4020,
        340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.quote }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tem Resposta Mencionada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a03a129-9962-4695-9e78-a7e140eb3f32",
                    "leftValue": "={{ $json.message.quote }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não Tem Resposta Mencionada"
            }
          ]
        },
        "options": {}
      },
      "id": "bee37f2e-596b-4b88-ae71-313e85bf9b5f",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1240,
        780
      ]
    },
    {
      "parameters": {
        "inputText": "=message: {{ $('Mensagens Ajustadas').item.json.message.content }}\nResposta IA: {{ JSON.stringify($json.output).replaceAll(',',' ').replaceAll('\"','').replace('[','').replace(']','') }}",
        "categories": {
          "categories": [
            {
              "category": "Ajuda Humana",
              "description": "Quando a resposta IA não foi Precisa e pode chamar um humano para responder com mais exatidão."
            },
            {
              "category": "normal",
              "description": "Resposta faz sentido, é precisa e/ou satisfaz o questionamento e não necessita de ajuda humana."
            }
          ]
        },
        "options": {
          "multiClass": false,
          "systemPromptTemplate": "# Papel\nSeu papel é revisar e verificar se a Mensagem gerada por outra IA foi precisa ou acabou inventando/supondo respostas que não possuia.\n\nVocê é uma IA projetada para fornecer respostas precisas e confiáveis. Se você não souber a resposta para uma pergunta ou se a pergunta estiver fora do seu escopo de conhecimento, simplesmente responda com: 'Ajuda Humana'. Nunca invente uma resposta ou faça suposições.\n\n# Regra\nSua resposta só pode ser 'Ajuda Humana' ou 'Normal'"
        }
      },
      "id": "f0f6cea3-32ce-40dc-bd1c-bffec7e84bc4",
      "name": "Juiz",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        3120,
        460
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "memory",
        "sessionTTL": 1000,
        "contextWindowLength": 0
      },
      "id": "a101dad1-f1cf-4605-8a30-7e9f7eea5430",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1420,
        1220
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Follow_up-VendedorIA",
        "filters": {
          "conditions": [
            {
              "keyName": "remotejid",
              "keyValue": "={{ $node['Webhook'].json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "id": "1784ba63-83b2-44cc-a3ad-7594d67ac80d",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4500,
        900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eCpOdrK4mtnklHxy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d22120ee-51d9-4193-8654-b3fee28110c1",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe3a1000-35e7-4916-9e0d-7b1e540a6545",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4720,
        900
      ]
    },
    {
      "parameters": {
        "tableId": "Follow_up-VendedorIA",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "remotejid",
              "fieldValue": "={{ $node['Webhook'].json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "id": "551af009-3483-4f64-b571-4af846d34693",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5040,
        780
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eCpOdrK4mtnklHxy",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Papel\nSua principal função é responder um usuário, ele fez uma pergunta, a IA não soube responder e solicitou ajuda de um ADM, esse ADM por sua vez já mandou a resposta, seu papel é entender a pergunta e a resposta e gerar uma mensagem simples para o usuário com a resposta do ADM.\n\nPergunta: {{ $node['Mensagens Ajustadas'].json.message.quote.match(/Pergunta:\\s([\\s\\S]*?)\\nRemoteJid:/)[1] }}\nResposta ADM: {{ $('Mensagens Ajustadas').item.json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e20c02be-d95d-4f49-8d2e-d599cea1ca97",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        -800,
        380
      ],
      "credentials": {
        "openAiApi": {
          "id": "bhoy0qx4VgeTB2Nu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "38e6cbe3-09bf-4431-b3b9-a706613f39c7",
        "options": {}
      },
      "id": "7211ed8f-2deb-4e0f-95fd-147e681628f8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        740
      ],
      "webhookId": "38e6cbe3-09bf-4431-b3b9-a706613f39c7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).content_id }}",
                    "rightValue": "={{ $('Mensagens Ajustadas').item.json.message.content_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0fcf2a8-9578-44c9-9070-a4787aed152e",
                    "leftValue": "={{ JSON.parse($json.messages.last()).data }}",
                    "rightValue": "={{ $now.minus(5, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "e5643853-4dcb-419f-94b6-0a1dd02b77de",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        500,
        780
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Get, send and update data in Redis",
        "operation": "set",
        "key": "={{ $json.body.data.key.remoteJid }}_block",
        "value": "true"
      },
      "id": "332127de-4686-483a-a3c9-a77d53b89737",
      "name": "Se auto-bloquear",
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        3460,
        1920
      ],
      "credentials": {
        "redis": {
          "id": "M8uwzbw8j4b5yU6C",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Se Auto Bloquear\n\n\nPrompt\n<Após lead ser qualificado>\napós você concluir todo o processo acima, use a tool {Se auto-bloquear}\n<Após lead ser qualificado>\n",
        "height": 567.1679231291859,
        "width": 575.1687172100005
      },
      "id": "0c00bf81-3da6-48fa-aec1-3fa515ef6d2c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        1640
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=message: {{ $('Mensagens Ajustadas').item.json.message.content }}\nmessage_id: {{ $('Mensagens Ajustadas').item.json.message.content_id }}\nmessage quote: {{ $('Mensagens Ajustadas').item.json.message.quote ? $('Mensagens Ajustadas').item.json.message.quote : 'sem msg'}}\nmessage quote_id: {{ $('Mensagens Ajustadas').item.json.message.quote ? $('Mensagens Ajustadas').item.json.message.quote_id : 'sem msg'}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<Papel>\nSeu papel é ser mais do que um atendente que passa informações. Filtre dados como o tamanho da agência/operação, quantos clientes ativos, quantos gestores, e qual o maior problema que ele pensa em resolver com a mentoria. Tente passar que a mentoria não é para todos, por isso as perguntas. Após isso, pode passar as informações, de forma a valorizar o produto como um bom vendedor.\n\nFaça apenas uma pergunta, caso o usuário responda, vá para a próxima pergunta de acordo com o que ele já respondeu.\n\nVocê é uma IA projetada para fornecer respostas precisas e confiáveis. Se você não souber a resposta para uma pergunta ou se a pergunta estiver fora do seu escopo de conhecimento, simplesmente responda com: 'Ajuda Humana'. Nunca invente uma resposta ou faça suposições.\n\n</Papel>\n\n<Formatos Disponíveis>\nTemos mentoria e consultoria de implementação.\n</Formatos Disponíveis>\n\n<Consultoria de Implementação>\nQuando você quer implementar um dos fluxos do curso na sua operação de forma guiada. Fazemos uma call para implementar juntos; dessa forma, é mais fácil a absorção do conhecimento do curso, colocando em prática e podendo tirar dúvidas.\n</Consultoria de Implementação>\n\n<Mentoria Agência Automática>\nEssa mentoria tem acesso de 3 meses, com calls a cada 15 dias de suporte, análise dos seus fluxos 1 vez por mês de forma individual e trilhas de aplicação exclusivas disponíveis na plataforma com foco único: automatizar a maior parte do trabalho operacional de uma agência de tráfego pago.\n</Mentoria Agência Automática>\n\n<Objetivo Final>\nSeu objetivo final é agendar uma call com o usuário que tem interesse na mentoria. Conduza a conversa de forma a entender as necessidades do usuário e, então, proponha o agendamento.\n</Objetivo Final>\n\n<Interação com Mensagens>\nElogios, agradecimentos e mensagens respondidas na thread com elogio, você pode reagir a elas com um emoji de coração.\n\nCaso queira interagir com a mensagem principal:\n\n\t•\tmessage_id: {{ $('Mensagens Ajustadas').item.json.message.content_id }}\n\nCaso queira interagir com a mensagem respondida da thread:\n\n\t•\tmessage_quote_id: {{ $('Mensagens Ajustadas').item.json.message.quote ? $('Mensagens Ajustadas').item.json.message.quote_id : 'sem msg' }}\n\nEm caso de problemas ao reagir\n\nGeralmente o erro vai estar no fromMe. Tente como 'true' e depois como 'false' se retornar erro. Caso o erro persista, nunca diga ao usuário que houve um erro. Apenas agradeça o elogio, caso necessário. Nunca diga ao usuário que curtiu sua mensagem; apenas curta e não informe sobre isso.\n</Interação com Mensagens>\n\n<Padrão de Resposta>\nTodas as respostas que você enviar ou receber do usuário precisam estar formatadas em JSON, em um array de strings onde cada string seja uma parte da resposta. Cada resposta deve conter apenas uma pergunta ou afirmação. Adeque cada uma das strings para que seja legível ao usuário, lembrando que a mensagem final será enviada via WhatsApp. Não use, de forma alguma, padrão markdown para links ou imagens, pois não funciona no WhatsApp e prejudica a legibilidade. Pode usar emojis, quebras de linhas, no início e no final das palavras que queira deixar em negrito, caso tenha necessidade. Busque utilizar as pontuações como separador. Deixe a mensagem humanizada.\n\nPor favor, certifique-se de cumprir esta etapa.\n\n</Padrão de Resposta>\n\n<Tom da Conversa>\nUse um tom amigável e profissional, garantindo que a interação seja alinhada com a imagem da empresa.\n</Tom da Conversa>\n\n<Exemplos de Respostas>\nExemplo de formato de resposta em JSON:\n[\n  \"Olá! 😊 Poderia me contar um pouco sobre o tamanho da sua agência?\"\n]\n</Exemplos de Respostas>\n"
        }
      },
      "id": "9640a4e4-c6e9-49c4-a11a-80971e693b87",
      "name": "Mentoria",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2240,
        540
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $node['Historico de Chat'].json['histórico'] }}",
        "categories": {
          "categories": [
            {
              "category": "mentoria",
              "description": "qual o usuário quer agendar uma call ou quer falar sobre mentoria"
            },
            {
              "category": "suporte_curso",
              "description": "apenas quando o usuário é aluno, para tirar duvida de coisas específicas como acessos, como acessar, perda de senha, sobre aulas, atualização, arquivos das auals..."
            },
            {
              "category": "duvidas_sobre_curso",
              "description": "quando o usuário demonstra estar no processo de compra ainda, tirando dúvidas sobre o curso"
            },
            {
              "category": "implementação",
              "description": "quando o usuário quer fazer uma implementação, quer contratar o serviço para criação de fluxos para sua ageência/operação/empresa."
            }
          ]
        },
        "options": {
          "multiClass": false,
          "fallback": "other",
          "systemPromptTemplate": "Please classify the message history provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json. only one, no more {categories}"
        }
      },
      "id": "10befa9f-6efa-4976-8206-6033e887b16f",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        1860,
        780
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Historico de Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Mentoria",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Juiz",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Juiz Resposta Mencionada",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Vazios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforma Output em Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historico de Chat": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Vazios": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens Ajustadas": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta ID do bloqueio": {
      "main": [
        [
          {
            "node": "Bloqueio Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloqueia Bot por 15 minutos": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Buffer": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Buffer": {
      "main": [
        [
          {
            "node": "Get Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloqueio Existe?": {
      "main": [
        [
          {
            "node": "Insert Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Bloqueia Bot por 15 minutos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta ID do bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zera FollowUP": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Mentoria",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica remoteJid": {
      "main": [
        [
          {
            "node": "Mensagens Ajustadas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicita Ajuda ADM": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Mensagens Ajustadas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagens Ajustadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juiz Resposta Mencionada": {
      "main": [
        [
          {
            "node": "Responde Usuário (AJuda ADM) 01",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Zera FollowUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde Usuário (AJuda ADM) 01": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde Usuário (AJuda ADM) 02": {
      "main": [
        [
          {
            "node": "Insere Resposta ADM no Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager3": {
      "main": [
        [
          {
            "node": "Avisa que Solicitou Ajuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Juiz Resposta Mencionada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Zera FollowUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juiz": {
      "main": [
        [
          {
            "node": "Solicita Ajuda ADM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transforma Output em Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Mentoria",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Insere Resposta ADM no Chat Memory",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Responde Usuário (AJuda ADM) 02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "verifica remoteJid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mentoria": {
      "main": [
        [
          {
            "node": "Juiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Mentoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mentoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mentoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mentoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mentoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c651fe0d-3320-4c3f-84be-5e1c7bdd60d5",
  "meta": {
    "instanceId": "2791c0ebaf13b76d144ebfadb5119fb2fc539bb762e80588859f6624b33c4a0b"
  },
  "id": "i2AgsbVmqBoRk3g7",
  "tags": []
}